[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shashi9966
[access "refs/for/refs/*"]
	read = group user/shashi9966
	push = group user/shashi9966
	label-Code-Review = -2..+2 group user/shashi9966
	label-Verified = -1..+1 group user/shashi9966
	rebase = group user/shashi9966
	removeReviewer = group user/shashi9966
	submit = group user/shashi9966
[access "refs/heads/*"]
	read = group user/shashi9966
	create = group user/shashi9966
	push = +force group user/shashi9966
	pushMerge = group user/shashi9966
[access "refs/tags/*"]
	push = +force group user/shashi9966
	pushTag = group user/shashi9966
	pushSignedTag = group user/shashi9966
